<!DOCTYPE html>
<html>
    <head>
        <title>TODO LIST APP</title>
    </head>

    <body>
        <h2>WAHT'S NEXT?</h2>
        <ul>
            {% for todo in todo_list %}
                {% if todo.complete == False %}
                     <li>
                        {{todo.title}} 
                        <form action="/mark/{{todo.id}}/" method="post" style="display:inline">
                            {% csrf_token %}
                            <button type="submit">MARK</button>
                        </form>
        
                        <form action="/delete/{{todo.id}}/" method="post" style="display:inline">
                            {% csrf_token %}
                            <button type="submit" value="delete">DELETE</button>
                        </form>
        
                        <form action="/edit/{{todo.id}}/" method="get" style="display:inline">
                            {% csrf_token %}
                            <button type="submit" value="edit">EDIT</button>
                        </form>
                    </li>
                {% else %}
                <li>
                        <del>
                            {{todo.title}}
                        </del> 
                        <form action="/delete/{{todo.id}}/" method="post" style="display:inline">
                            {% csrf_token %}
                            <button type="submit" value="delete">DELETE</button>
                        </form>
        
                        <form action="/edit/{{todo.id}}/" method="get" style="display:inline">
                            {% csrf_token %}
                            <button type="submit" value="edit">EDIT</button>
                        </form>
                    </li>
                {% endif %}

            {% endfor %}
        </ul>
    <form action="/new/" method="POST">
        {% csrf_token %}
        <input type="text" name="content"/>
        <button type="submit" value="add">ADD</button>
    </form>
    <br>-----------EDIT-----------<br>
    
    <div>
        <form action="/save/" method="POST">
            {% csrf_token %}
            <p>title</p>
            <input value={{item_to_edit.title}} type="text" name="title"/>
            <br><br>
            <input type="text" name="" id=""></input>
            <p>content</p>
            <textarea rows="5" type="text" name="content"/>{{todo.content}}</textarea>
            <br><br>
            <button type="submit" value="save">SAVE</button>
        </form>
    </div>

    

    </body>
</html>