body {
    padding: 50px;
    background-color: #eee8dd;
    font-size: 50px;
    font-family: lobster;
    text-align: center;
    
    /* align-items: center; */
}

#root {
    display: flex;
    justify-content: center;
}
